{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img width="40px" src="{% static 'images/logo.png' %}" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="{% url 'home' %}">
          Home
        </a>
        <a class="nav-link" href="{% url 'about' %}"> About </a>
        <a class="nav-link" href="{% url 'gallery' %}"> Gallery </a>
        <a class="nav-link" href="{% url 'contact' %}"> Contact </a>
      </div>
    </div>
  </div>
</nav>

<!-- <nav class="navbar">
  <div class="nav-center">
    <div class="nav-header">
      <a class="nav-link" href="{% url 'home' %}">
      </a>
    </div>
    <div class="nav-links show-links">
      <a class="nav-link" href="{% url 'home' %}"> Home </a>
      <a class="nav-link" href="{% url 'about' %}"> About </a>
      <a class="nav-link" href="{% url 'gallery' %}"> Gallery </a>
      <a class="nav-link" href="{% url 'contact' %}"> Contact </a>
    </div>
  </div>
</nav> -->
